<div class="row">
  <div class="col-8">
    <h2>Teams</h2>
  </div>
  <div class="col-4 d-flex align-items-center justify-content-end">
    <%= link_to "New", new_admin_team_path, class: 'btn btn-success btn-sm' %>
  </div>
</div>
<hr>
<div id="teams">
  <div class="row">
    <div class="col-9">
      <table class="table table-response table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>User</th>
        </tr>
        </thead>
        <tbody>
        <% @teams.each do |team| %>
          <tr>
            <td><%= link_to team.id, admin_team_path(team.id) %></td>
            <td><%= team.title %></td>
            <td><%= link_to team.user&.username, admin_user_path(team.user_id) %></td>
        <% end %>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>

<%= render 'shared/pagination', options: @options %>