<%= form_with(model: @collaborator, url: @collaborator.persisted? ? admin_collaborator_path(@collaborator) : admin_collaborators_path) do |f| %>
  <% if @collaborator.errors.any? %>
    <div style="color: red">
      <b><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</b>
      <ul>
        <% @collaborator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= f.label :user, style: "display: block" %>
        <%= f.select :user_id, User.pluck(:email, :id), {}, class: 'form-select' %>
      </div>
    </div>

    <div class="col-6">
      <div class="form-group">
        <%= f.label :team, style: "display: block" %>
        <%= f.select :team_id, Team.pluck(:title, :id), {}, class: 'form-select' %>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="form-group">
      <%= f.label :status, style: "display: block" %>
      <%= f.select :status, Collaborator::STATUSES, {}, class: 'form-select' %>
    </div>
  </div>

  <br>
  <div>
    <%= f.submit 'Submit', :class => 'btn btn-success' %>
  </div>
<% end %>
